name: Validador do Catálogo de Dados

on:
  schedule:
    - cron: '0 3 * * 1' # Roda toda segunda-feira às 3h da manhã
  workflow_dispatch: # Permite rodar manualmente apertando um botão no site

jobs:
  validar-links:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Criar arquivo de credenciais
        run: |
          echo '${{ secrets.GCP_CREDENTIALS }}' > credenciais.json

      - name: Instalar dependência do BigQuery
        run: pip install google-cloud-bigquery

      - name: Rodar o Robô Validador
        run: python sync_catalogo.py